// showing default values
$accentColor = #3683d6
$wrapperText = #ccc
$textColor = #45526b
$navbarHeight = 4.5rem
$borderColor = #eaedf0
$codeBgColor = #e9f0f8
$navBgColor = rgba(245,247,251,1)
$sidebarWidth = 300px
$textCodeColor = #3683d6
$MQNarrow = 1030px
$DropdownBgColor = #fff